@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .bg-gradient {
  background: radial-gradient(circle, #1e3a8a, #001426);
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #0F172A, #1D4ED8, #000000);
  background-size: 300% 300%;
  animation: gradientMove 6s ease infinite;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

/* @keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* .estandar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.estandar {
  padding: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  background-image: linear-gradient(
    to bottom,
    rgba(200, 200, 200, 0.2) 1px,
    transparent 1px
  );
  background-size: 100% 30px; 
  color: #333; 
}

.estandar-divisor {
  padding: 20px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
  background-image: linear-gradient(
    to bottom,
    rgba(200, 200, 200, 0.2) 1px,
    transparent 1px
  );
  background-size: 100% 30px; 
}

.estandar-dark {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #121212;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-size: 100% 30px; 
  color: #e0e0e0; 
}
